<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ShopIMDatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ShopIMDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ShopIM.UI.Properties.Settings.ShopIMDBConnectionString"
      connectionString="&#xD;&#xA;        &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&#xD;&#xA;        &lt;SerializableConnectionString xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#xD;&#xA;        &lt;ConnectionString&gt;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFileProductName=J:\Programming\IDE\VisualStudio15\Project\ShopIM\ShopIM\ShopIM.Data\ShopIMDB.mdf;Integrated Security=True;Connect Timeout=30&lt;/ConnectionString&gt;&#xD;&#xA;        &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;&#xD;&#xA;        &lt;/SerializableConnectionString&gt;&#xD;&#xA;      "
      providerName="" />
  </connectionStrings>
</configuration>